{% extends 'base.html' %}
{% block title %}Login • Luxury Car Rental Service{% endblock %}

{% block content %}
  <div class="card">
    <h2 class="animated-title">Login to Your Account</h2>
    <form method="POST">
      <div class="row">
        <label style="width:140px">Email</label>
        <input type="email" name="email" required>
      </div>
      <div class="row">
        <button type="submit">Login</button>
        <a href="/register" class="btn-secondary" style="text-decoration:none; padding:10px 12px; border-radius:10px;">Register</a>
        <a href="/" class="btn-secondary" style="text-decoration:none; padding:10px 12px; border-radius:10px;">Cancel</a>
      </div>
    </form>
  </div>
{% endblock %}